.image-fragments {
    position: relative;
}

.image-fragments > div {
    position: absolute;
    left: 0;
    top: 0;
}

.reveal section .image-fragments img {
    border: 0;
    box-shadow: none;
    height: 80%;
}
